# --- Python & Virtual Env ---
__pycache__/
*.pyc
.venv/
venv/
env/
.python-version

# --- IDE & Editors ---
.idea/
.vscode/
*.swp
.DS_Store

# --- Build Artifacts ---
build/
dist/
*.spec

# --- Playwright Browsers (Rất nặng, GitHub Actions sẽ tự tải) ---
ms-playwright/

# --- Temporary Files ---
tmp/
*.log
*.tmp